@model BlogAppWithMVC.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-8">
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <form class="form-inline mr-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <form class="form-inline mr-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <form class="form-inline mr-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

