@model IEnumerable<BlogAppWithMVC.Models.Category>

<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        @Html.ActionLink($"{item.CategoryName}","Index","Home",new { id = item.Id },null)
                    </li>
                </ul>
            </div>
        }
    </div>
</div>